In [2]:
import pandas as pd
leboth=pd.read_csv("../data/life_expectancy_both.csv")

In [3]:
leboth.head(5)

                     Country or Area  Year(s) Variant    Value
0  ADB region: Central and West Asia     2101  Medium      NaN
1  ADB region: Central and West Asia     2100  Medium  79.1328
2  ADB region: Central and West Asia     2099  Medium  79.0004
3  ADB region: Central and West Asia     2098  Medium  78.8630
4  ADB region: Central and West Asia     2097  Medium  78.7253

In [4]:
import os
os.listdir("C:\\Users\\Dell\\Desktop\\education_life_expectancy\\data")

['Expenditure_by_GDP.csv',
 'Expenditure_by_total_exp.csv',
 'GPX815892518_auth_letter.pdf',
 'life_expectancy_both.csv',
 'life_expectancy_female.csv',
 'life_expectancy_male.csv',
 'primary.csv',
 'secondary.csv',
 'tertiary.csv']

In [5]:
leboth.shape,leboth.columns

((84360, 4),
 Index(['Country or Area', 'Year(s)', 'Variant', 'Value'], dtype='object'))

In [6]:
leboth_clean=leboth.copy()

#1) Rename columns to easier to easier name(no spaces, no paranthese)
leboth_clean=leboth_clean.rename(columns={"Country or Area":"Country","Year(s)":"Year","Variant":"Variant","Value":"Value"})

#2) converting year to a number
leboth_clean["Year"]=pd.to_numeric(leboth_clean["Year"],errors="coerce")

#3) convert life expectancy to a nummber(float)
leboth_clean["Value"]=pd.to_numeric(leboth_clean["Value"],errors="coerce")

#quickcheck
leboth_clean.head()
leboth_clean.describe()

               Year         Value
count  84360.000000  83805.000000
mean    2025.500000     71.058798
std       43.877931     12.715105
min     1950.000000     10.989100
25%     1987.750000     64.314200
50%     2025.500000     73.187200
75%     2063.250000     80.677100
max     2101.000000     94.670700

In [7]:
leboth_clean["Variant"].value_counts().head(10)
#that means the whole dataset has only medium variant but we need to confirm it
leboth_clean["Variant"].nunique(), leboth_clean["Variant"].unique()

(1, array(['Medium'], dtype=object))

In [8]:
#as its confirmed now, we can drop the variant column as it has only one value
leboth_clean=leboth_clean.drop(columns=["Variant"])

In [9]:
leboth=leboth_clean.copy()

In [10]:
leboth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84360 entries, 0 to 84359
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  84360 non-null  object
 1   Year     84360 non-null  int64
 2   Value    83805 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.9+ MB

In [11]:
print("Missing values per column")
print(leboth.isna().sum())

print("duplicate country year rows")
print(leboth.duplicated(subset=["Country","Year"]).sum())

Missing values per column
Country      0
Year         0
Value      555
dtype: int64
duplicate country year rows
304

In [12]:
leboth=leboth.dropna(subset=["Value"]).copy()
print("After dropping missing values",leboth.shape)  # we drop the rows missing values(none) and copied it to our main leboth df

After dropping missing values (83805, 3)

In [13]:
# now we can use the data for only years like 2025 so that we dont go into prediction, i mean thats what we want to do right and not just plot graphs for life expectancy over years vs education
leboth=leboth[leboth["Year"]<=2025].copy() # this stores only the dataframe column which has year less than equal to 2025
leboth["Year"].min(), leboth["Year"].max()

(1950, 2025)

In [14]:
leboth.shape

(42180, 3)

In [15]:
leboth["Country"]=leboth["Country"].astype(str).str.strip()
#.astype(str)
#→ makes sure everything in Country is text

#.str.strip()
#→ removes extra spaces at the start or end of country names

leboth=leboth.rename(columns={"Value": "LifeExp_Both"})

In [16]:
leboth.head()

                              Country  Year  LifeExp_Both
76  ADB region: Central and West Asia  2025       69.1302
77  ADB region: Central and West Asia  2024       68.9834
78  ADB region: Central and West Asia  2023       68.8211
79  ADB region: Central and West Asia  2022       68.5124
80  ADB region: Central and West Asia  2021       66.4149

In [17]:
leboth.to_csv("../output/life_expectancy_both_clean.csv", index=False)