In [13]:
import pandas as pd
leboth=pd.read_csv(r"C:\Users\Dell\Desktop\education_life_expectancy\data\life_expectancy_both.csv")

In [14]:
leboth.head(5)

                     Country or Area  Year(s) Variant    Value
0  ADB region: Central and West Asia     2101  Medium      NaN
1  ADB region: Central and West Asia     2100  Medium  79.1328
2  ADB region: Central and West Asia     2099  Medium  79.0004
3  ADB region: Central and West Asia     2098  Medium  78.8630
4  ADB region: Central and West Asia     2097  Medium  78.7253

In [15]:
import os
os.listdir(r"C:\Users\Dell\Desktop\education_life_expectancy\data")

['Expenditure_by_GDP.csv',
 'Expenditure_by_total_exp.csv',
 'GPX815892518_auth_letter.pdf',
 'life_expectancy_both.csv',
 'life_expectancy_female.csv',
 'life_expectancy_male.csv',
 'primary.csv',
 'secondary.csv',
 'tertiary.csv']

In [16]:
leboth.shape,leboth.columns

((84360, 4),
 Index(['Country or Area', 'Year(s)', 'Variant', 'Value'], dtype='object'))

In [26]:
leboth_clean=leboth.copy()

#1) Rename columns to easier to easier name(no spaces, no paranthese)
leboth_clean=leboth_clean.rename(columns={"Country or Area":"Country","Year(s)":"Year","Variant":"Variant","Value":"Value"})

#2) converting year to a number
leboth_clean["Year"]=pd.to_numeric(leboth_clean["Year"],errors="coerce")

#3) convert life expectancy to a nummber(float)
leboth_clean["Value"]=pd.to_numeric(leboth_clean["Value"],errors="coerce")

#quickcheck
leboth_clean.head()
leboth_clean.describe()

               Year         Value
count  84360.000000  83805.000000
mean    2025.500000     71.058798
std       43.877931     12.715105
min     1950.000000     10.989100
25%     1987.750000     64.314200
50%     2025.500000     73.187200
75%     2063.250000     80.677100
max     2101.000000     94.670700

In [30]:
leboth_clean["Variant"].value_counts().head(10)
#that means the whole dataset has only medium variant but we need to confirm it
leboth_clean["Variant"].nunique(), leboth_clean["Variant"].unique()

(1, array(['Medium'], dtype=object))

In [31]:
#as its confirmed now, we can drop the variant column as it has only one value
leboth_clean=leboth_clean.drop(columns=["Variant"])

In [ ]:
leboth=leboth_clean.copy()

#now we will look for the missing values or inconsistencies
leboth["Value"]=leboth["Value"].replace("",pd.NA)