In [1]:
import pandas as pd


exp_gdp_raw=pd.read_csv("../data/Expenditure_by_GDP.csv")
exp_gdp_raw.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,Not applicable,Not applicable,Percent,4.80435
1,Afghanistan,2013,Not applicable,Not applicable,Percent,4.54436
2,Afghanistan,2012,Not applicable,Not applicable,Percent,3.12562
3,Afghanistan,2011,Not applicable,Not applicable,Percent,4.08791
4,Afghanistan,2010,Not applicable,Not applicable,Percent,4.51116

In [2]:
print(exp_gdp_raw.shape)
print(exp_gdp_raw.columns)
exp_gdp_raw.info()

(3195, 6)
Index(['Reference Area', 'Time Period', 'Sex', 'Age group',
       'Units of measurement', 'Observation Value'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Reference Area        3195 non-null   object
 1   Time Period           3195 non-null   int64
 2   Sex                   3195 non-null   object
 3   Age group             3195 non-null   object
 4   Units of measurement  3195 non-null   object
 5   Observation Value     3195 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 149.9+ KB

In [3]:
print(exp_gdp_raw["Sex"].value_counts(dropna=False))
print(exp_gdp_raw["Age group"].value_counts(dropna=False))
print(exp_gdp_raw["Units of measurement"].value_counts(dropna=False))

Sex
Not applicable    3195
Name: count, dtype: int64
Age group
Not applicable    3195
Name: count, dtype: int64
Units of measurement
Percent    3195
Name: count, dtype: int64

In [5]:

exp_gdp = exp_gdp_raw.copy()
exp_gdp = exp_gdp.rename(columns={"Reference Area": "Country","Time Period":"Year","Observation Value":"Value"})

exp_gdp.head()

,Country,Year,Sex,Age group,Units of measurement,Value
0,Afghanistan,2014,Not applicable,Not applicable,Percent,4.80435
1,Afghanistan,2013,Not applicable,Not applicable,Percent,4.54436
2,Afghanistan,2012,Not applicable,Not applicable,Percent,3.12562
3,Afghanistan,2011,Not applicable,Not applicable,Percent,4.08791
4,Afghanistan,2010,Not applicable,Not applicable,Percent,4.51116

In [6]:
# filter to all genders (only if this column exists)
exp_gdp = exp_gdp[exp_gdp["Sex"] == "All genders"].copy()

# drop columns that are no longer useful
exp_gdp = exp_gdp.drop(columns=["Sex", "Age group", "Units of measurement"])

# convert Year and Value to numeric
exp_gdp["Year"] = pd.to_numeric(exp_gdp["Year"], errors="coerce")
exp_gdp["Value"] = pd.to_numeric(exp_gdp["Value"], errors="coerce")

# drop missing essentials
exp_gdp = exp_gdp.dropna(subset=["Country", "Year", "Value"]).copy()
exp_gdp["Year"] = exp_gdp["Year"].astype(int)

# clean country names
exp_gdp["Country"] = exp_gdp["Country"].astype(str).str.strip()

# rename Value to meaningful name
exp_gdp = exp_gdp.rename(columns={"Value": "EduExp_GDP"})

In [7]:
exp_gdp.head()
print(exp_gdp.shape)
print("Duplicate Country-Year:",
      exp_gdp.duplicated(subset=["Country","Year"]).sum())

(0, 3)
Duplicate Country-Year: 0

In [8]:
exp_gdp.to_csv("../data/cleaned_education_expenditure_gdp.csv", index=False)